
html {
    background: #FAEBD7;
}

#app {
    height: 100%;
}

/* ログアウト */
.content {
    position: absolute;
    top: 0;
    right: 0;
    text-align: right;
    align-items: center;
    border-radius: 10px;
    z-index: 60;
}

.logout-content {
    display: inline-block;
    position: relative;
    font-wight: bold;
    padding: 7px 10px 10px 10px;
    color: #FFF;
    background: #ff7f7f;
    border-radius: 30px;
}

.logout-content:hover {
    background: #ffc25c;
}


/* mybookタイトル */
.main-title {
    align-items: center;
    font-size: 3.5rem;
    color: #FF5F17;
    font-weight:bold;
    margin-top: 0;
}

/* エラー表示 */
.form_error {
    color: #F00;
}

/* ログイン、新規登録css */
.login_title_content, .register_title_content {
    text-align: center;
    font-size: 2rem;
    margin-top: 30px;
    color: #000000
}

.login-input, .register-input {
    text-align: center;
    margin-top: 3rem;
}

.login-input_content, .register-input_content {
    width: 70%;
    height: 30px;
    border: 1px solid #dddddd;
    border-radius: 7px;
}

.login-btn, .register-btn {
    text-align: center;
    margin-top: 5rem;
}

.login-btn_content, .register-btn_content {
    width: 30%;
    height: 30px;
    background-color: #0099FF;
    border: 1px solid #dddddd;
    border-radius: 7px;
    color: #fff;
    font-size: 1em;
}

.link { 
    text-align: center;
    color: #bbbbbb;
    margin-top: 3rem;
}

.link-url {
    display: block;
    text-align: center;
    text-decoration: none;
    color: #0066FF;
    margin-top: 1rem;
    cursor: pointer;
}

@media screen and (max-width: 1024px) {

    .content {
    position: absolute;
    top: -68px;
    right: 0;
    text-align: right;
    align-items: center;
    border-radius: 10px;
    z-index: 60;
    }
}

@media screen and (max-width: 480px) {
    .logout-content {
        font-size: 1px;
    }
}

